/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/03/2020, 19:52:41
    Author     : Adaulan 
*/
/* FONTE DO SITE */
@font-face {
     font-family: HomepageBaukasten-Book;
     src: url('../FONTES/HomepageBaukasten-Book.otf');
}


/* SLIDER HOME PAGE CSS */
body {
    margin-top: 200px;
    padding:0px;
    font-family:HomepageBaukasten-Book, sans-serif;
    background-color: #F4F4F4 !important;
}
.swiper-slide{
    width:250px !important;
}

.slider-box {
    margin:20px;
    height: 350px;
    width: 250px;
    position:relative;
    background-color: #FFFFFF;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:1px solid rgba(187,187,187,0.40);
}
.slider-box a {
    text-decoration: none;
    text-align: center; 
}
.img-box {
    height:170px;
}
.img-box img{
    height:auto;
    max-width:100%;
    max-height:100%;
}
.time{
    position:absolute;
    top:0px;
    right:20px;
    color:#f16007;
}
.detail {
    display:flex;
    flex-direction:column;
    align-items:center;
    box-sizing: border-box;
    font-size:13px;
    line-height:20px;
}
.price {
    color:#06A2AF;
    font-size: 30px;
    border-radius: 2px;
    line-height: 30px;
}

.price:hover{
    text-decoration: none;
}

.cart{
    position:absolute;
    bottom: 0px;
    height:45px;
    background-color:#FF696E;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.cart a{
    color: #FFFFFF;
}

.cart:hover{
    transform:scale(1.1);
    background-color: #FE9048;
    box-shadow:2px 2px 12px rgba(47,47,47,0.40);
    transition: all ease 0.1s;
}
.cart a:hover{
    text-decoration: none;
    color: #FFFFFF;
}

.slider-box:hover {
    box-shadow:2px 2px 12px rgba(47,47,47,0.40);
} 
.slider-box:hover .img-box img{
    transform:scale(1.07);
    transition: all ease 0.3s;
}

.slider-box:hover .img-box input{
    transform:scale(1.07);
    transition: all ease 0.3s;
}
/*SLIDER HOME PAGE CSS FIM */

/* HEADING CAROUSEL E HEADING TEXTO */
.heading {
    width: 200px;
    margin:30px 0px 0px 50px;
    padding:0px 0px;
    text-align: left;
    color: #050D1A;
    font-family: HomepageBaukasten-Book;

}
.heading-bar {
    margin: 0px auto;
    height: 60px;
    background-color:  #0E9092 !important;
    border: 1px solid rgba(187,187,187,0.40);
}

#carouselExampleIndicators {
    height:300px;
    display: flex;
    justify-content: center;
}

/* FIM HEADING CAROUSEL E HEADING TEXTO */

/* FOOTER */
footer {
    height: 360px;
    padding: 15px;
    background-color:#0E9092;
}

.footerBox{
    height: 200px;
    width: 400px;
    color: #FD7F66;
    float:right;

}

.footer-bar {
    margin: 0px auto;
    height: 60px;
    background-color: #F8F8F8 !important;
    border: 1px solid rgba(187,187,187,0.40);
    margin-top: 100px;
}

footer ul a, h3{
    color:#FD7F66;
}

footer ul a:hover{
    text-decoration: none;
    color:#DFE5E1;
}


footer hr{
    clear:both;
    margin-top:220px;
}

#copyright {
    color: black;
    font-size: 9px;
    font-style: italic;
}

#copyrightBox{
    clear:both;
    height:80px;
    width:100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
}

#copyrightBox p{
    margin-top:1px;
    margin-bottom:1px;
}
/* FIM FOOTER */

/* FORMS DE CADASTRO */
#fadeForm{
    opacity: 0;
    animation: fadeIn 1.3s forwards;
    opacity: 0.9;
    font-family: HomepageBaukasten-Book !important;

}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(50px);
    }
}
.form-type{
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    margin: auto;
    color: white;
    background-color: rgba(18, 27, 42, 0.8);
    padding: 1%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(132, 132, 132, 0.5); 
    font-family: HomepageBaukasten-Book;
}

#btn-form{
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.80;
    border-radius: .3rem;
    background-color: #C0B283;
    border: 0;
    color: white;
}
#btn-form:hover{
    background-color: white;
    color: black;
    border: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#btn-form-search{
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .3rem;
    background-color: grey;
    border: 0;
    color: white;
}
#btn-form-search:hover{
    background-color: white;
    color: black;
    border: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#btn-secondary{
    padding: .5rem 1rem;
    font-size: 0.8rem;
    line-height: 1.60;
    border-radius: .3rem;
    background-color: grey;
    border: 0;
    color: white;
}
#btn-secondary:hover{
    background-color: white;
    color: black;
    border: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/*TABLE DISPLAY LISTA DE PRODUTOS CLIENTES*/
.my-custom-scrollbar {
    height: 300px;
    overflow-y: scroll;

}
#button-addon2{
    background-color: grey;
    color: white;
}
#button-addon2:hover{
    background: rgba(0, 0, 0, 0.3 );
}
#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0);
}

#style-1::-webkit-scrollbar
{
    border-radius: 10px;
    width: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #555;
}

.table-wrapper-scroll-y {
    display: block;
}

/* PAGINA DE DETALHES */

#div-box-compra {
    max-height: 300px;
    max-width:600px; 
    background-color:#FAFAFA; 
    border:1px solid #BFBFBF; 
    border-radius: 1%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #1C1C1C;
}
/* LOGIN */
.form-singin{
    color: black; 
    width: 100%;
    max-width: 330px;
    padding-top: 2em;
    background-color: rgba(250, 250, 250, 1);
    padding: 2%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);    
}

.form-singin-cad{
    color: black; 
    width: 100%;
    max-width: 600px;
    padding-top: 2em;
    margin: auto;
    background-color: rgba(250, 250, 250, 1);
    padding: 2%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);    
}

.table-wrapper-scroll-y {
    display: block;
}
i.fa-journal-whills {
    font-size: 60px;
    padding-bottom: 0.5em;
}
#inputUsuario{
    margin-bottom: 0.5em;
}

#btn-singin{
    background-color: grey;
    border: 0;
}
#btn-singin:hover{
    background-color: white;
    color: black;
    border: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}